.readability {
  margin-right: 1.8rem;
  padding: 0;
}

#readability-render {
  -webkit-transition: background-color 1000ms linear;
  -moz-transition: background-color 1000ms linear;
  -o-transition: background-color 1000ms linear;
  -ms-transition: background-color 1000ms linear;
  transition: background-color 1000ms linear;
}

#readability-toggle {
  display: none;
  position: absolute;
  right: 1.75rem;
  cursor: pointer;
  font-size: 16px;
}
