.readability * {
  box-sizing: border-box;
}
.readability {
  box-sizing: border-box;
  display: none;
  grid-template-columns: 66% 33%;
  grid-gap: 0.5em 1em;
  width: 100%;
  padding: 2em;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  word-break: break-word;
}
.readability header {
  display: grid;
  grid-gap: 0.5em 1em;
  grid-template-columns: 3fr 2fr 2fr;
  grid-template-rows: auto;
  grid-column: span 2;
  margin: 0;
}
.readability header h2 {
  margin: auto 0 !important;
  padding: 0 !important;
  font-size: 1.75rem !important;
  font-weight: bold;
  text-align: left;
  border-bottom: 0;
}
.readability header section {
  display: block;
}
.readability header section label,
.readability header section value {
  display: block;
  padding: 0;
  border-bottom: 0;
  box-shadow: none;
}
.readability header section label {
  font-weight: 100;
}
.readability header section value {
  font-size: 2.5em;
}
.readability main,
.readability aside {
  background-color: hsl(0, 0%, 97.5%);
  border: 1px solid #e1e4e8;
}
.readability main section,
.readability aside section {
  display: grid;
  grid-gap: 0.5em 1em;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-column: span 4;
  margin: 0 1em 1em 1em;
}
.readability section#count {
  grid-template-columns: repeat(2, 1fr);
}
.readability section * {
  grid-column: auto;
}
.readability label {
  padding: 0.25em;
}
.readability value,
.readability .value {
  padding: 0.25em;
  color: #000000;
  font-weight: bold;
  background: #ffffff;
  box-shadow: 0 -2px 0 0 rgba(0, 0, 0, 0.1) inset;
  border-color: #000000;
}
.readability .title,
.readability .description,
.readability .value {
  grid-column: span 4;
  margin: 0;
}
.readability content {
  display: block;
  margin: 1em;
  padding: 0;
}
.readability mark {
  background-color: transparent;
}
.readability .sentence-0 {
  background-color: rgba(139, 232, 81, 0.15);
}
.readability .sentence-1 {
  background-color: rgba(239, 255, 71, 0.15);
}
.readability .sentence-2 {
  background-color: rgba(255, 171, 5, 0.15);
}
.readability .sentence-3 {
  background-color: rgba(255, 78, 0, 0.15);
}
.readability .sentence-4 {
  background-color: rgba(214, 53, 0, 0.15);
}
.readability .word {
}
.readability .word-0 {
  box-shadow: 0 2px 0 rgba(122, 200, 40, 1);
}
.readability .word-1 {
  box-shadow: 0 2px 0 rgba(232, 220, 0, 1);
}
.readability .word-2 {
  box-shadow: 0 2px 0 rgba(234, 198, 18, 1);
}
.readability .word-3 {
  box-shadow: 0 2px 0 rgba(221, 134, 11, 1);
}
.readability .word-4 {
  box-shadow: 0 2px 0 rgba(165, 16, 8, 1);
}
.readability h2 {
  font-weight: 100;
  text-align: center;
  margin: 0;
  padding: 0.15em 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e1e4e8;
}
.readability h3 {
  font-size: 1.5em;
  font-weight: 100;
  margin: 0.5em 0.5em 0 0.5em;
  padding: 0;
}
.readability h4 {
  font-size: 1em;
  font-weight: 600;
  margin: 0;
}
.readability p {
  margin: 1em 0;
  padding: 0;
}
.readability a {
  text-decoration: none;
  color: #0367d8;
  transition: 200ms;
  transition-property: color;
}
.readability a:hover,
.readability a:focus,
.readability a:target {
  color: inherit;
}
